@import '../../variables.less';
@import '../../buttons.less';

.sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    margin-left: 1em;
    margin-top: 5px;
    border-left: 1px solid #ccc;
    ul {
        flex-grow: 1;
        list-style: none;
        padding: 5px;
        li {
            margin: 5px;
        }
        .button {
            .btn-primary(180px);
            text-align: left;
            .fa {
                margin-right: 5px;
                color: @purple;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .sidebar {
        display: none;
    }
}