@import '../../variables.less'; 

.marks {
    list-style: none;
    padding: 0;
    display: flex;
   
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 4;
    .mark-item {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        .btn-remove {
            color: @purple;
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 5px;
            &:hover {
                color: @red;
                transition: all .4s ease-in;
            }
        }
    }
}