@import '../../variables.less'; 
@import '../../buttons.less'; 

.marks {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 4;
}

   .mark-item {
        flex: 1;
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        flex-flow: row wrap;
        a {
            text-align: left;
            color: @purple;
            text-decoration: none;
            &:hover {
                background: @purple;
                color: #fff;
                transition: all .4s ease-in;
            }
        }
        .timestamp {
            position: absolute;
            bottom: 5px;
            right: 5px;
            color: #ccc;
            font-size: 12px;
        }
        .col {
            flex: 1;
            flex-basis: 0 200px;
            margin: 0 10px;
            &:first-child {
               margin-left: 0; 
            }
            &:first-child {
                max-width: 200px;
                word-break: break-all;
                flex-grow: 3;
            }
            &:last-child {
                flex-basis: 20px;
            }
            &:not(:first-child) {
                text-align: right;
            }
        }
        .url {    
            text-align: left !important;
        }
        .btn-remove {
            color: @purple;
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 5px;
            &:hover {
                color: @red;
                transition: all .4s ease-in;
            }
        }
    }

.public-marks {
    flex: 3;
    .public-mark-controls {
        padding: 15px;
        margin: 6px 5px 15px 5px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        text-align: center;
        a {
            .btn-secondary;
        }
    }
    ul {
        list-style: none;
    }
    .public-mark-item {
        .mark-item;
        margin: 5px;
        box-shadow: @shadow;
        .mark-footer {
            position: absolute;
            bottom: 5px;
            right: 5px;
            font-size: 12px;
            color: #ccc;
            span {
                margin: 0 5px;
            }
        }
    }
}