@import '../../variables.less'; 

.marks {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 4;
    .mark-item {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 10px;
        margin: 5px;
        max-height: 170px;
        flex: 1 200px;
        a, p, .fa {
            color: #fff;
        }
        .fa {
            font-size: 20px;
        }
        .timestamp {
            position: absolute;
            bottom: 5px;
        }
        .social {
            margin-top: 5px;
            .fa {
                padding: 5px;
            }
        }
        &:nth-child(odd) {
            background: lighten(@purple, 25%);
        }
        &:nth-child(even) {
            background: lighten(@purple, 10%);
        }
    }
}