@import '../../variables.less';
@import '../../buttons.less';

.dashboard {
	display: flex;
	height: 90vh;
	flex-wrap: wrap;
	section, aside {
		flex-basis: 300px;
		padding: 5px;
	}
	section {
		flex: 3;
		.controls {
			display: flex;
			justify-content: space-between;
			border-bottom: 5px solid @purple;
			padding: 10px 0;
			margin: 5px 0;
			.control-item {
				flex: 1;
			}
		}
		ul {
			display: flex;
			flex-direction: column;
			list-style: none;
			padding: 0;
			li {
				box-shadow: 1px 1px 5px 2px #ccc;
				margin: 5px 0;
				padding: 5px;
			}
		}
	}
	aside {
		box-shadow: 1px 1px 5px 2px #ccc;
		.category-list {
			display: flex;
			flex-direction: column;
			list-style: none;
			.category-item {
				display: flex;
				background: @purple;
				text-align: center;
				margin: 5px 0;
				a {
					padding: 10px;
					flex-grow: 1;
					text-decoration: none;
					color: #fff;
				}
			}
		}
	}
}