@import "../../variables.less";
@import "../../buttons.less";

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.category-form, .mark-form, .search-container {
    margin: 5px 0;
    input {
        padding: 5px;
        outline: none;
    }
    .fa-plus-circle {
            .btn-add;
            margin: 0 5px;
        }
}




