
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(https://fonts.googleapis.com/css?family=Arvo);
*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    font-family: 'Raleway', 'Lucida Grande', sans-serif;
}

a {
    font-family: 'Arvo', 'Raleway', 'Lucida Grande';
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.3em;
}

p, span, a, div, button, input, label {
    font-size: 1em;
}

